{% extends 'index.html' %}
{% load ratings %}
{% load reviews %}
{% get_review_count for profile as review_count %}
{% get_rating for profile as avg_rating %}




{% block content %}

<div class="row mt-2">

    <div id="content"  class="col-sm-8 mb-5">
      <!-- Content goes here -->

    <div class="card">
      <h5 class="card-header">{{ object.profile_name }} {% render_rating for profile %}</h5>
        <div class="card-body">
          {% if profile.picture %}
          <img src="{{ profile.picture.url }}" alt="{{ profile.picture }}" style="width:200px; height:200px; border-radius: 100%">
          {% endif %}
        </div>
      
      <div class="card-body">
        <p class="card-text mb-5">{{ object.profile }}</p>
          <div class="card bg-light mr-2 mb-2" style="">
            <div class="card-body">
              <h5 class="card-title">Especialidades</h5>
              <p class="card-text">
                  {% for specialty in profile.specialty.all %}
                  <a href='{{ specialty.get_absolute_url }}' class=''><button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="{{ specialty.specialty_excerpt }}">{{ specialty.specialty_name }}</button></a>
                  {% empty %}
                      Sin Especialidad!
                  {% endfor %}
              </p>
            </div>
          </div>
        <div class="card-body ml-5">
          <p class="card-text ml-5">{% render_review_list for profile %}</p>
        </div>
        {% comment %} <p class="card-text">{% render_comment_form for profile %}</p> {% endcomment %}
        {% comment %} <a href="{% url 'profile:profile-update' slug=profile.slug %}" class="btn btn-primary">Edit Profile</a> {% endcomment %}
      </div>
      {% if user.is_authenticated %}
      <div class="card-body">
        {% get_review_form for profile as user %}
        {% render_review_form for profile %}
      </div>
      {% endif %}
    </div>

  </div>

  <div id="main-content" class="col-sm-4 mb-2">
    <div id="sidebar" class="sidebar">
        <div class="sidebar__inner">
            <!-- Content goes here -->
          <div class="card">
            <h5 class="card-header">Como Conectar</h5>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">
              
                        {% if rating %}
          {{ rating }}
          {% endif %}
          {% if show_rating_text %}
          {{ rating_text }}
          {% endif %}
              
              
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="#" class="btn btn-primary btn-block disabled" >Agenda una hora</a>
              <a href="#" class="btn btn-primary btn-block">Video Conferencia</a>
            </div>
          </div>
        </div>
    </div>
  </div>



</div>

<script type="text/javascript">
  var sidebar = new StickySidebar('#sidebar', {
      containerSelector: '#main-content',
      innerWrapperSelector: '.sidebar__inner',
      topSpacing: 20,
      bottomSpacing: 20
  });
</script>


{% endblock %}