{% extends 'index.html' %}
{% load ratings reviews %}


{% block content %}

{% include "nav/pagination.html" %}

<h1>Profiles</h1>

{% for profile in object_list %}
{% get_rating for profile as avg_rating %}

<div class="row mt-2">
    <div id="content"  class="">

        <div class="card">

          <div class="card-body d-md-inline-flex">

              <div class="col-md-2">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  {% if profile.picture %}
                  <img src="{{ profile.picture.url }}" alt="{{ profile.picture }}" style="width:160px; height:160px; border-radius: 100%">
                  {% endif %}
                </div>



              </div>

              <div class="col-md ">
                  <h2 class="card-title mt-2">{{ profile.profile_name }}</h2>
                  <div class="mb-2 mt-1">{% render_rating for profile %}</div>
                  <p class="card-text">{{ profile.profile_excerpt }}</p>
                    <div class="card bg-light mr-2 mb-2" style="">
                      <div class="card-body">
                        <h5 class="card-title">Especialidades</h5>
                        <p class="card-text">{{ profile.specialty }}</p>
                      </div>
                    </div>
                  <div class=" mr-2 d-flex justify-content-end">
                    <a href="{{ profile.get_absolute_url }}" class="btn btn-outline-info">Ver Perfil</a>
                  </div>
              </div>

              <div class="col-md-2 align-self-end">
                    <h5 class="card-title">Como Conectar</h5>
                    <p class="card-text"><small>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></p>
                    <a href="#" class="btn btn-primary btn-block disabled" >Agenda una hora</a>
                    <a href="#" class="btn btn-primary btn-block"> Video Conferencia</a>
              </div>      

          </div>

        </div>

    </div>
</div>


{% empty %}
No profiles yet.
{% endfor %}

{% include "nav/pagination.html" %}

{% endblock %}
