<div class="card" style="">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a class="" href="{% url 'profile-update' %}">Mi Perfil</a></li>
    <li class="list-group-item"><a class="" href="{% url 'account_email' %}">Change E-mail</a></li>
    <li class="list-group-item"><a class="" href="{% url 'socialaccount_connections' %}">Redes Sociales</a></li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>