  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Buscas un especialista?
      <br>
      <span class="text-indigo-600">Conecta con miles de profesionales.</span>
    </h2>
    {% comment %} <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          Comenzar
        </a>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          Saber Más
        </a>
      </div>
    </div> {% endcomment %}
  </div>
  <section class="p-2">
          <div class="container mx-auto pt-8 max-w-xl">
              <input class="w-full h-12 px-3 rounded-full mb-4 focus:outline-none focus:shadow-outline text-xl shadow-lg" type="search" placeholder="Buscar...">
              <nav class="flex">
                <button type="button" class="rounded-full mr-4 px-4 p-1 bg-transparent text-gray-800 border border-gray-800  leading-none flex items-center">
                    Clases
                </button>
                <button type="button" class="rounded-full mr-4 px-4 p-1 bg-transparent text-gray-800 border border-gray-800  leading-none flex items-center">
                    Asesorías
                </button>
                <button type="button" class="rounded-full mr-4 px-4 p-1 bg-transparent text-gray-800 border border-gray-800  leading-none flex items-center">
                    Cursos
                </button>
                <button type="button" class="rounded-full mr-4 px-4 p-1 bg-transparent text-gray-800 border border-gray-800  leading-none flex items-center">
                    Consulta
                </button>
                <button type="button" class="rounded-full mr-4 px-4 p-1 bg-transparent text-gray-800 border border-gray-800  leading-none flex items-center">
                    Conversa
                </button>
                <button type="button" class="rounded-full mr-4 px-4 p-1 bg-transparent text-gray-800 border border-gray-800  leading-none flex items-center">
                    Consejo
                </button>
                <button type="button" class="rounded-full mr-4 px-4 p-1 bg-transparent text-gray-800 border border-gray-800  leading-none flex items-center">
                    Orientación
                </button>
                <button type="button" class="rounded-full mr-4 px-4 p-1 bg-transparent text-gray-800 border border-gray-800  leading-none flex items-center">
                    Apoyo
                </button>
              </nav>
          </div>
  </section>